*.joblib filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
AICTE[[:space:]]-[[:space:]]Smart[[:space:]]Energy[[:space:]]Consumption[[:space:]]Forecasting[[:space:]].zip filter=lfs diff=lfs merge=lfs -text
